label {
    font-size: 14px;
    color: #BFBFC1;
}

button {
    padding: 10px;

    i {
        font-size: 24px;
        display: block;
    }

    .fa-check-circle {
        color: #57C5D2;
    }

    .fa-times-circle {
        color: #F84C4C;
    }

    .fa-pencil {
        color: #B3B8BE;
    }
}