<div class="form-group row mb-1">
  <label for="{{id}}" class="col-4 col-form-label">{{field}}</label>
  <div class="col-8">
    <div class="input-group">
      <input type="{{type}}" class="form-control" id="{{id}}" (keydown)="changeState($event)">
      <span class="input-group-btn">
        <button class="btn btn-secondary text-center" type="button">
          <i class="fa" [class.fa-check-circle]="item.pass"></i>
          <i class="fa" [class.fa-pencil]="item.edit"></i>
          <i class="fa" [class.fa-times-circle]="item.error"></i>
        </button>
      </span>
    </div>
  </div>
</div>