<li class="divider dropdown-divider m-0"></li>
<li role="menuitem" class="list-item" [class.nearer]="data.time=='just now' || data.time.indexOf('mins') > 0">
  <div class="row m-0 align-items-center">
    <div class="col-2"><img [src]="'assets/images/'+data.group" class="mr-2 mt-2"></div>
    <div class="col-7 p-0">
      <p class="mb-1 title">{{data.name}}</p>
      <img *ngFor="let i of data.users" [src]="'assets/images/users/'+i" class="mr-1">
    </div>
    <div class="col-3 text-right"><span class="time" [class.green]="data.time=='just now'">{{data.time}}</span></div>
  </div>  
</li>
