.list-item {
    padding-bottom: 12px;
    padding-top: 12px;

    img {
        height: 30px;
    }

    .time {
        font-size: 12px;
        color: #8da2a7;
    }

    .green {
        color: #78e258;
    }

    .col-7 {
        line-height: 15px;

        .title {
            font-size: 14px;
            color: #b5b5b7;
        }

        img {
            width: 22px;
            height: 22px;
        }
    }
}

.nearer {
    background-color: #fbf8f1;

    .col-7 {
        .title {
            color: #475059;
        }
    }
}