
running-project {
    display: block;
}

.card-header {
    color: #6a878f;
    background-color: #ffffff;
    font-size: 18px;
}

.btn-control {
    float: right;
    color: #adb7be;
}

.btn-control .fa-close {
    font-size: 18px;
    margin-top: 6px;
}

.btn-control .fa-arrows-alt {
    font-size: 13px;
}

.card-block .col-xs-12 {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

.card-block {
    max-height: 508px;
    overflow-y: scroll;
}