<div class="card">
  <div class="card-header">Running Projects
    <a class="btn-control" href="#"><i class="fa fa-close"></i></a>
    <a class="mr-4 btn-control" href="#"><i class="fa fa-arrows-alt"></i></a>
  </div>
  <div class="card-block">
    <div class="col-xs-12 col-md-4" *ngFor="let p of projects">
      <running-project [data]="p"></running-project>
    </div>
  </div>
</div>