<nav class="navbar navbar-toggleable-md navbar-light bg-faded p-0 fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="setShowSideBar(true)">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" *ngIf="!searchBar">
      <li class="nav-item active">
        <a class="nav-link pl-3 pr-3" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-3 pr-3" href="#"><i class="fa fa-arrows-alt"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-3 pr-3" (click)="showSearchBar()"><i class="fa fa-search"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-3" *ngIf="!searchBar">
      <li class="nav-item active notification dropdown" dropdown>
        <a class="nav-link pl-2 pr-2" href dropdownToggle (click)="false"><i class="fa fa-bell"></i><div>4</div></a>
        <ul *dropdownMenu class="dropdown-menu p-0">
          <li role="menuitem" class="pt-2 pb-2"><a class="dropdown-item"><span class="left"><strong>15 pending</strong> notifications</span><span class="right">Mark All as Read</span></a></li>
          <header-notification *ngFor="let n of notifications" [data]="n"></header-notification>
        </ul>        
      </li>
      <li class="nav-item email dropdown" dropdown>
        <a class="nav-link pl-2 pr-2" href dropdownToggle (click)="false"><i class="fa fa-envelope"></i><div>1</div></a>
        <ul *dropdownMenu class="dropdown-menu p-0">
          <li role="menuitem" class="pt-2 pb-2"><a class="dropdown-item" href="#"><span class="left"><strong>5 new</strong> messages</span><span class="right">Mark All as Read</span></a></li>
          <header-message *ngFor="let m of messages" [data]="m"></header-message>
        </ul>        
      </li>
      <li class="nav-item dropdown country" dropdown>
        <a class="nav-link pl-2 pr-3" href dropdownToggle (click)="false">
          <img src="assets/images/flags/flag-usa.png">
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li role="menuitem"><a class="dropdown-item" href="#"><img src="assets/images/flags/flag-usa.png" class="mr-2">English</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#"><img src="assets/images/flags/flag-isr.png" class="mr-2">Hebrew</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown account" dropdown>
        <a class="nav-link pl-3 pr-3" href dropdownToggle (click)="false"><img src="assets/images/avatar.png" class="mr-2"><strong class="profile-name">Marathon</strong><i class="fa fa-caret-down ml-2"></i></a>
        <ul *dropdownMenu class="dropdown-menu">
          <li role="menuitem"><a class="dropdown-item" (click)="accountSettingsModal.show()"><i class="fa fa-user-o mr-2"></i>Account Settings</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-key mr-2"></i>Log Out</a></li>
        </ul>  
      </li>
    </ul>
    <app-searchbar *ngIf="searchBar" class="p-4 w-100"></app-searchbar>
  </div>
</nav>
<div class="modal fade account-modal" bsModal #accountSettingsModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Account Settings</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="accountSettingsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <app-account-settings-modal></app-account-settings-modal>
      </div>
    </div>
  </div>
</div>