.navbar {
    height: 104px;
    background-color: #ffffff;
}

.navbar-brand {
    width: 232px;
    background-color: #9272cd;
    padding: 25px 14px 29px;
}

.navbar .fa {
    font-size: 1rem;
    color: #788591;
}

.profile-name {
    font-family: "Open Sans";
    font-size: 14px;
}

.notification div {
    background: #f96868;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: relative;
    top: -5px;
    font-size: 13px;
    text-align: center;
    float: right;
    line-height: 17px;
    left: -7px;
}

.email div {
    background: #57c7d4;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: relative;
    top: -5px;
    font-size: 13px;
    text-align: center;
    float: right;
    line-height: 17px;
    left: -7px;
}

app-searchbar {
    margin-right: 14px;
    background-color: #e6e6e6;
}

.navbar-light .navbar-toggler {
    top: 30px;
}

.dropdown-menu {
    min-width: 0;
    right: 0;
    left: initial;
}

.notification, .email {
    .dropdown-menu {
        width: 370px;

        li {
            background-color: #f0f9fc;

            .dropdown-item {
                font-size: 14px;
                color: #6a878f;

                .right {
                    float: right;
                    color: #5ac6d3;
                    font-size: 13px;
                }
            }
        }
    }
}

.country {
    .dropdown-menu {
        a {
            font-size: 13px;
            color: #5b5b5b;
        }

        img {
            width: 18px;
        }
    }
}

.account {
    .dropdown-menu {
        a {
            font-size: 13px;
        }

        .fa-user-o {
            color: #78e258;
        }
    }
}

.account-modal {
    .modal-header {
        background-color: #EBF7F7;

        h4 {
            color: #5A5A5A;
            font-weight: 300;
        }
    }

    .modal-body {
        background-color: #F6F5FA;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        background-color: #9272cd;
    }
}

@media screen and (min-width: 992px) {
    .modal-lg {
        max-width: 750px;
    }
}