button {
    box-shadow: 0 1px 3px rgba(207, 225, 241, 0.44);
    border-radius: 2px;
    border: 1px solid #d7e9f9;
    background-color: #f1f8fd;
    display: inline-flex;
    padding: 0;

    span {
        padding: 6px 5px;
        font-size: 12px;
    }

    span.btn-close {
        border-left: 1px solid #d7e9f9;
        font-size: 20px;
        padding: 0 5px;
    }
}

button.not-assigned {
    border-color: #f96868;
    background-color: #fff2f2;
    color: #f96868;

    span {
        border-color: #f96868;
    }
}
