p {
    margin: 0;
}

.left .name {
    text-align: right;
    color: #76787d;
    margin-right: 40px;
}

.right .name {
    text-align: left;
    color: #76787d;
    margin-left: 40px
}

.popover {
    position: relative;
    max-width: 100%;
    margin-left: 0;
    padding: 14px 28px;
    z-index: 999;
}

.popover-left {
    margin-right: 40px;
    background-color: #fcf5f6;
    color: #818181;
}

.popover-right {
    margin-left: 40px;
    background-color: #f0f9fc;
    color: #818181;
}

.popover-right::after {
    border-right-color: #f0f9fc;
}

.popover-left::after {
    border-left-color: #fcf5f6;
}

.left img {
    float: right;
}

.right img {
    float: left;
}

.left .date {
    float: left;
}

.right .date {
    float: right;
}

.date {
    color: #6a878f;
    font-size: 12px;
}