<div [class.right]="data.direction=='right'" [class.left]="data.direction=='left'">
  <p class="name">{{data.name}}</p>
  <div class="message">
    <img [src]="'assets/images/users/'+data.image">
    <div class="popover show" [class.popover-right]="data.direction=='right'" [class.popover-left]="data.direction=='left'">
      {{data.text}}
    </div>
  </div>
  <p class="date">{{data.date}}</p>
</div>