.project {
    height: 205px;
    text-align: center;
    vertical-align: middle;
    display: grid;
    color: #ffffff;
}

.project p {
    margin-top: 94px;
    margin-bottom: 0;
}

.project a {
    margin-top: -25px;
    font-size: 22px;
    color: #ffffff;
}