<div class="card">
  <div class="card-header">Messages
    <a class="btn-control" href="#"><i class="fa fa-close"></i></a>
    <a class="mr-4 btn-control" href="#"><i class="fa fa-arrows-alt"></i></a>
  </div>
  <div class="card-block pb-0 pt-0">
    <div class="row">
      <div class="col-8">
        <app-message-window class="p-4"></app-message-window>
      </div>
      <div class="col-4">
        <app-message-user [data]="u" *ngFor="let u of users" class="p-3" (click)="selectUser(users.indexOf(u))" [class.selected]="u.selected"></app-message-user>
      </div>
    </div>
  </div>
</div>