.card-header {
    color: #6a878f;
    background-color: #ffffff;
    font-size: 18px;

    .btn-control {
        float: right;
        color: #adb7be;
    }

    .btn-control .fa-close {
        font-size: 18px;
        margin-top: 6px;
    }

    .btn-control .fa-arrows-alt {
        font-size: 13px;
    }    
}

.card-block {
    padding: 15px;

    .row {
        height: 500px;

        .col-8 {
            padding: 0;

            app-message-window {
                display: block;
                height: 100%;
            }
        }

        .col-4 {
            border-left: 1px solid #ebebeb;
            padding: 0;
            overflow: hidden;
            overflow-y: scroll;

            app-message-user {
                display: block;
                border-bottom: 1px solid #ebebeb;
            }

            .selected {
                background-color: #495463;
                color: white;
            }
        }
    }
}