.main-container {
    background-color: #f0f3f4;
    height: 100%;
    position: relative;
    margin-left: 232px;
    margin-top: 104px;
    padding: 32px;
}

.title {
    color: #5b5b5b;
    font-size: 24px;
    font-family: Regular;
    margin-bottom: 32px;
}

app-running-project {
    margin-bottom: 34px;
    display: block;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0 !important;
        padding: 30px 15px;
    }
}