<section class="main-container">
  <h4 class="title">{{title}}</h4>
  <app-running-project *ngIf="page=='dashboard' && !showProjectTable"></app-running-project>
  <app-messages *ngIf="page=='dashboard' && !showProjectTable"></app-messages>
  <app-project-table *ngIf="showProjectTable"></app-project-table>
  <app-knowledge-base *ngIf="page=='knowledge'"></app-knowledge-base>
</section>