.search-bar input {
    width: calc(100% - 17px);
    border-width: 0 !important;
    background: transparent;
}

.search-bar input:hover {
    border-width: 0;
}

.search-bar .fa {
    float: right;
}