<li class="divider dropdown-divider m-0"></li>
<li role="menuitem" class="list-item" [class.nearer]="data.time=='just now' || data.time.indexOf('mins') > 0">
  <div class="row m-0 align-items-center">
    <div class="col-2"><img [src]="'assets/images/'+data.img"><div class="number" *ngIf="data.number > 1">{{data.number}}</div></div>
    <div class="col-7 p-0"><span class="title">{{data.title}}</span></div>
    <div class="col-3 text-right"><span class="time" [class.green]="data.time=='just now'">{{data.time}}</span></div>
  </div>
</li>