.list-item {
    padding-bottom: 12px;
    padding-top: 12px;

    img {
        height: 30px;
    }

    .number {
        position: absolute;
        font-size: 10px;
        top: 0;
        left: 35px;
        border-radius: 50%;
        background-color: #ff0000;
        color: #ffffff;
        width: 15px;
        height: 15px;
        text-align: center;
    }

    .time {
        font-size: 12px;
        color: #8da2a7;
    }

    .green {
        color: #78e258;
    }

    .col-7 {
        line-height: 15px;

        .title {
            font-size: 14px;
            color: #b5b5b7;
        }
    }
}

.nearer {
    background-color: #fbf8f1;

    .col-7 {
        .title {
            color: #475059;
        }
    }
}