footer {
    margin-left: 232px;
    background: #e4e8ea;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    margin: 0;
    color: #aeb3ba;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    footer {
        margin-left: 0;
    }
}