<div class="row align-items-center">
    <div class="col-lg-3 text-center">
        <img [src]="'assets/images/'+data.groupImage" class="">
    </div>
    <div class="col-lg-6">
        <p class="group-name mb-1">{{data.groupName}}</p>
        <div class="users">
            <img *ngFor="let u of data.groupUsers" [src]="'assets/images/users/'+u" class="mr-1">
        </div>
        <span class="comment">
            <i class="fa fa-comment-o mr-1"></i>
            {{data.comments}} comments
        </span>
    </div>
    <div class="col-lg-3">
        <span class="date">{{data.date}} day ago</span>
    </div>
</div>