.row {

}

.group-name {
    font-size: 15px;
}

span {
    font-size: 12px;
}

.fa-comment-o {
    font-size: 16px;
}

.date {
    float: right;
    color: #6a878f;
}

.comment {
    color: #76787d;
}
