<nav class="sidebar" [class.showSidebar]="showSidebar">
  <div class="list-group">
    <a class="list-group-item pl-0" (click)="setHighlightStatus(0)" [class.highlight]="highLightStatus[0]"><div class="icon-div"><img src="assets/images/icon1.png"></div>Dashboard</a>
    <a class="list-group-item pl-0" (click)="newBugModal.show()" [class.highlight]="highLightStatus[1]"><div class="icon-div"><img src="assets/images/icon2.png"></div>Create New Bug</a>
    <a class="list-group-item pl-0" (click)="newProjectModal.show()" [class.highlight]="highLightStatus[2]"><div class="icon-div"><img src="assets/images/icon3.png"></div>Create New Project</a>
    <a class="list-group-item pl-0" (click)="setHighlightStatus(3)" [class.highlight]="highLightStatus[3]"><div class="icon-div"><img src="assets/images/icon4.png"></div>Control Panel</a>
    <a class="list-group-item pl-0" (click)="setHighlightStatus(4)" [class.highlight]="highLightStatus[4]"><div class="icon-div"><img src="assets/images/icon5.png"></div>Contact Support</a>
    <a class="list-group-item pl-0" (click)="setHighlightStatus(5)" [class.highlight]="highLightStatus[5]"><div class="icon-div"><img src="assets/images/icon6.png"></div>Knowledge Base<i class="fa fa-caret-down ml-2 mt-1"></i></a>
  </div>
</nav>
<div class="modal fade" bsModal #newBugModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create New Bug</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newBugModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-bug-modal></app-new-bug-modal>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #newProjectModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create New Project</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newProjectModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-project-modal></app-new-project-modal>
      </div>
    </div>
  </div>
</div>