.sidebar {
    width: 231px;
    position: fixed;
    top: 104px;
    height: 100%;
    background-color: #2f3a49;
}

.showSidebar {
    z-index: 1000;
}

.list-group-item {
    border-radius: 0px;
    background-color: #2f3a49;
    color: #90969e !important;
    height: 68px;
    font-size: 14px;
}

.list-group-item.highlight {
    background-color: #222c3a;
}

.icon-div {
    text-align: center;
    width: 70px;
}

.modal-content {
    background: #f6f5fa;
}

.modal-header {
    color: #797979;
}

@media (min-width: 768px) {
    
}