<div class="messages">
  <one-message [data]="m" *ngFor="let m of messages" class="mb-5"></one-message>
</div>
<div class="form">
  <input type="text" class="form-control" id="message" placeholder="Type a Message">
</div>