.messages {
    height: 394px;
    overflow: hidden;
    overflow-y: scroll;

    one-message {
        display: block;
        position: relative;
    }
}

.form {
    position: absolute;
    bottom: 24px;
    width: calc(100% - 48px);

    #message {
        height: 56px;
        background-color: #eff1f6;
        font-size: 16px;
        border-width: 0;
        padding: 20px;
    }    
}