<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <input type="text" placeholder="Search" class="pl-2 pr-2">
        <button class="pl-2 pr-2 btn"><i class="fa fa-search"></i></button>
      </div>
      <div class="col-md-3">
        <div class="dropdown" dropdown>
          <a class="nav-link pl-3 pr-3" href dropdownToggle (click)="false">Export Options<i class="fa fa-caret-down ml-2"></i></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Test1</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Test2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block p-0">
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th>Bug #</th>
          <th>Date</th>
          <th>Title</th>
          <th class="text-center">Priority</th>
          <th>Members</th>
          <th>Location</th>
          <th>Category</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of tableData">
          <td>{{d.bugId}}</td>
          <td>{{d.date}}</td>
          <td>{{d.title}}</td>
          <td class="text-center"><i class="fa fa-check-circle" [class.prior1]="d.priority==1" [class.prior2]="d.priority==2" [class.prior3]="d.priority==3"></i></td>
          <td><img *ngFor="let m of d.members" [src]="'assets/images/users/'+m"></td>
          <td>{{d.location}}</td>
          <td><span *ngFor="let c of d.category" class="p-1">{{c}}</span></td>
          <td>{{d.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
