.dropdown {
    float: right;
}

.col-md-9 button {
    width: 36px;
    height: 36px;
    background-color: #57c7d4;
    color: #ffffff;
}

.col-md-9 input {
    width: calc(100% - 50px);
    height: 100%;
}

.nav-link {
    color: #6a878f;
}

.fa-check-circle {
    font-size: 22px;
}

.prior1 {
    color: #fb8605;
}

.prior2 {
    color: #f74b4c;
}

.prior3 {
    color: #90ca37;
}

table {
    font-size: 14px;
    color: #76787d;
}

thead tr {
    background: #f3f8fa;
    color: #6a878f;
}

tbody td:nth-child(odd) {
    background-color: #f9fafa;
}

td span {
    box-shadow: 0 1px 3px rgba(207, 225, 241, 0.44);
    border-radius: 2px;
    border: 1px solid #d7e9f9;
    background-color: #f1f8fd;
    font-size: 12px;
}