div {
    border: 1px solid #ececee;
    background: #edf2f5;
    padding: 10px;
    margin: 5px;
    position: relative;
    text-align: center;

    span {
        font-size: 30px;
        line-height: 10px;
        color: #838687;
        position: absolute;
        right: 10px;
    }

    i {
        font-size: 24px;
        padding: 15px;
        color: #838687;
    }
}