<div class="row">
  <div class="col-md-6 left">
    <div class="form-group">
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Title *">
      <small id="emailHelp" class="form-text text-muted">This field is required</small>
    </div> 
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Location">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Category">
    </div>    
    <div class="form-group">
      <textarea class="form-control" rows="5" placeholder="Project Description..."></textarea>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option>Select Project *</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <small id="emailHelp" class="form-text text-muted">This field is required</small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Members">
    </div>
    <div class="tags">
      <app-tag-element [assigned]="t.assigned" [data]="t.name" *ngFor="let t of tags"></app-tag-element>
    </div>
  </div>
  <div class="col-md-6 right">
    <div class="row">
      <div class="col">
        <p>Bug Number</p>
        <span>#12345</span>
        <p class="mt-3">Bug Status</p>
        <div class="radio">
          <label><input type="radio" name="statusradio" class="mr-2">New</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="statusradio" class="mr-2">Not a Bug</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="statusradio" class="mr-2">Need Review</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="statusradio" class="mr-2">Fixed</label>
        </div>
      </div>
      <div class="col">
        <p>Date Created</p>
        <span><i class="fa fa-calendar mr-2"></i>18/05/2016 - 12:00 PM</span>
        <p class="mt-3">Bug Priority</p>
        <div class="radio">
          <label><input type="radio" name="priorityradio" class="mr-2 high">High</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="priorityradio" class="mr-2 medium">Medium</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="priorityradio" class="mr-2 low">Low</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Import Files</label>
      <i class="fa fa-dropbox"></i>
      <i class="fa fa-dropbox"></i>
      <i class="fa fa-dropbox"></i>
      <i class="fa fa-dropbox"></i>
    </div>
    <div class="form-group">
      <app-file-element *ngFor="let f of files" [data]="f"></app-file-element>
    </div>
    <div class="form-group">
      <app-file-upload-element></app-file-upload-element>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <div class="form-group">
      <button type="button" class="btn btn-info btn-block">Create & Close</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <button type="button" class="btn btn-success btn-block">Create & New</button>
    </div>
  </div>
</div>