.left {
    color: #797979;

    .text-muted {
        color: #f96868 !important;
        display: none;
    }
}

.right {
    color: #797979;

    span, label {
        font-size: 14px;
    }

    input[type='radio'] {
        -webkit-appearance:none;
        width:18px;
        height:18px;
        border-radius:50%;
        outline:none;
        border: 2px solid;
        border-color:#00c8d3;
        display: inline-table;
    }    

    input[type='radio']:before {
        content:'';
        display:block;
        width:60%;
        height:60%;
        margin: 20% auto;    
        border-radius:50%;
    }

    input[type='radio']:checked:before {
        background: #00c8d3;
    }
    
    input.high {
        border-color:#fb405b;
    }

    input.medium {
        border-color:#fc8c3d;
    }

    input.low {
        border-color:#75e267;
    }

    input.high:checked:checked:before {
        background-color: #fb405b;
    }

    input.medium:checked:checked:before {
        background-color: #fc8c3d;
    }

    input.low:checked:checked:before {
        background-color: #75e267;
    }

    span {
        color: #aeaeae;
    }
}

app-file-element {
    width: calc(100% / 3);
    display: block;
    float: left;
}