.custom-file {
    width: 100%;
    height: 100%;
}

.custom-file-control {
    height: 130px;
    background-color: transparent;
    border-style: dashed;
    text-align: center;
    border-width: 2px;
}

.custom-file-input {
    width: 100%;
    height: 130px;
}

.custom-file-control::before {
    position: relative;
    top: 65px;
    right: 0;
    bottom: 0;
    width: 120px;
    left: calc((100% - 120px) / 2);
    text-align: center;
    height: 30px;
    line-height: 10px;
    background: #5bc0de;
    color: #ffffff;
    border-radius: 5px;
}

.custom-file-control:lang(en)::after {
    content: "Drag & Drop to Upload";
    font-size: 18px;
    color: #aeaeae;
}

.fa-cloud-upload {
    font-size: 28px;
    position: absolute;
    left: calc((100% - 30px) / 2);
    top: 15px;
    color: #aeaeae;
}
