<label class="custom-file mt-3">
  <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp">
  <i class="fa fa-cloud-upload"></i>
  <span class="custom-file-control form-control-file"></span> 
</label>