<div class="form-group">
  <input type="text" class="form-control" placeholder="Location">
</div>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Category">
</div> 
<div class="tags">
  <app-tag-element [assigned]="t.assigned" [data]="t.name" *ngFor="let t of tags"></app-tag-element>
</div>
<div class="form-group">
  <app-file-upload-element></app-file-upload-element>
</div>
<div class="form-group">
  <button type="button" class="btn btn-success btn-block">Create Project</button>
</div>