@import 'variables'; 
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

html, body, app-root {
    background-color: #f0f3f4;
    width: 100%;
    min-height: 100%;
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 900px;
    }
}
