.col-8 {
    h5 {
        color: #5B5B5B;
        font-size: 18px;
    }

    .form-check {
        .form-check-label {
            color: #5B5B5D;
            font-size: 14px;
        }

        input {
            font-size: 20px;
        }
    }
}