<div class="row">
  <div class="col-4 text-center">
    <img src="assets/images/avatar.png" class="w-100">
    <input type="file">
  </div>
  <div class="col-8">
    <h5 class="mb-4">Personal Information</h5>
    <app-custom-input-element [field]="'First Name'" [type]="'text'" [id]="'first-name'"></app-custom-input-element>
    <app-custom-input-element [field]="'Last Name'" [type]="'text'" [id]="'last-name'"></app-custom-input-element>
    <app-custom-input-element [field]="'Phone Number'" [type]="'number'" [id]="'phone'"></app-custom-input-element>
    <app-custom-input-element [field]="'Email Address'" [type]="'email'" [id]="'email'"></app-custom-input-element>
    <hr class="mb-3 mt-3">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Change Password
      </label>
    </div>
    <app-custom-input-element [field]="'Old Password'" [type]="'password'" [id]="'old-pass'"></app-custom-input-element>
    <app-custom-input-element [field]="'New Password'" [type]="'password'" [id]="'new-pass'"></app-custom-input-element>
    <app-custom-input-element [field]="'Confirm Password'" [type]="'password'" [id]="'confirm-pass'"></app-custom-input-element>
  </div>
  <div class="col-12 mt-3">
    <div class="form-group">
      <button type="button" class="btn btn-info btn-block">Save Changes</button>
    </div>
  </div>
</div>